<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spa Test Suite">
    <listeners>
        <listener class-name="TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="All Tests">
        <classes>
            <class name="AddBookingTest"/>
            <class name="ViewBookingTest"/>
            <class name="EditBookingTest"/>
            <class name="DeleteBookingTest"/>
        </classes>
    </test>
</suite>